@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(http://cdn.jsdelivr.net/gh/floriankarsten/space-grotesk@1.1.6/fonts/webfont/SpaceGrotesk-Light.woff2) format("woff2");
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://cdn.jsdelivr.net/gh/floriankarsten/space-grotesk@1.1.6/fonts/webfont/SpaceGrotesk-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://cdn.jsdelivr.net/gh/floriankarsten/space-grotesk@1.1.6/fonts/webfont/SpaceGrotesk-Bold.woff2) format("woff2");
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
}

.btn {
  background-color: #FFB41F;
}

.center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-login {
  background: linear-gradient(145deg, #5dd9c1 0%, #acfcd9 100%);
  height: 100vh;
}

.bg-signup {
  background: linear-gradient(145deg, #b084cc 0%, #665687 100%);
  height: 100vh;
}

.login-form-container {
  width: 50%;
  background-color: #fff;
  border: 2px solid #b084cc;
  border-radius: 2rem;
}

@media (max-width: 870px) {
  .login-form-container {
    width: 90%;
  }
}

.login-form {
  margin: auto;
  padding: 2rem;
}

.login-form button, .login-form .btn {
  width: 100%;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-dash {
  width: 95%;
  margin: 1rem auto;
}

.dash-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  background-color: #fff;
  height: 10vh;
  border-bottom: 1px solid #f7f7fa;
}

.logo img {
  height: 9vh;
  margin: auto;
  padding: 1rem;
}

.actual {
  background-color: rgba(176, 132, 204, 0.2);
  border-left: 4px solid #b084cc;
  color: #5dd9c1;
}

.aside-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}

.aside-links a {
  color: #5c616c;
}

.aside-links a i {
  padding-right: 1.5rem;
}

.link-aside {
  padding: 2rem;
  color: #5c616c;
}

.dash-content {
  background-color: #f7f7fa;
  width: 100%;
  min-height: 100vh;
}

.dash-header {
  height: 10vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dash-header * {
  margin: 0;
}

.dash-header h2 {
  margin: auto 2rem;
}

.dash-header a {
  font-size: 4rem;
  color: #190933;
  margin: auto 3rem;
}

.grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin: 1rem auto;
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
  margin: 2rem auto;
}

.widget {
  background-color: #fff;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.text-widget h5 {
  font-weight: 700;
}

.text-widget p {
  font-size: 3.5rem;
  margin: 0;
}

.icon-widget i {
  font-size: 7rem;
  text-align: center;
  margin: auto auto;
  height: 99%;
  color: #b084cc;
}

.disk-dash-chart label {
  display: block;
  color: #b084cc;
}

.disk-dash-chart label:last-of-type {
  color: #5dd9c1;
}

.ram-dash-chart label {
  display: block;
  color: #190933;
}

.ram-dash-chart label:last-of-type {
  color: #F1046F;
}

.file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 1rem;
  margin: 2rem auto;
}

.label-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label-file i {
  color: #b084cc;
  font-size: 2.5rem;
  margin: auto 1.2rem;
}

.actions-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.actions-file i {
  padding: 1rem;
  margin: auto 0.4rem;
  border-radius: 1rem;
}

.view-icon {
  color: #5dd9c1;
  border: 2px solid #5dd9c1;
  border-color: #5dd9c1;
}

.download-icon {
  color: #665687;
  border-color: #665687;
  border: 2px solid #665687;
}

.delete-icon {
  color: #F1046F;
  border-color: #F1046F;
  border: 2px solid #F1046F;
}

.upload-box {
  border: 2px solid #190933;
  border-radius: 3rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-box img {
  height: 40vh;
}
