// Light
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(http://cdn.jsdelivr.net/gh/floriankarsten/space-grotesk@1.1.6/fonts/webfont/SpaceGrotesk-Light.woff2) format('woff2');
}

// Regular
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(http://cdn.jsdelivr.net/gh/floriankarsten/space-grotesk@1.1.6/fonts/webfont/SpaceGrotesk-Regular.woff2) format('woff2');
}

// Bold
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(http://cdn.jsdelivr.net/gh/floriankarsten/space-grotesk@1.1.6/fonts/webfont/SpaceGrotesk-Bold.woff2) format('woff2');
}

@import "_vars.scss";

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.8rem;
    line-height: 1.7;
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-login {
    background: linear-gradient(145deg, $azul 0%, $azul-claro 100%);
    height: 100vh;
}

.bg-signup {
    background: linear-gradient(145deg, $morado 0%, $morado-darker 100%);
    height: 100vh;
}

.login-form-container {
    width: 50%;
    background-color: #fff;
    // padding: 5rem 2rem;
    border: 2px solid $morado;
    border-radius: 2rem;
    @media (max-width: 870px) {
        width: 90%;
    }
}

.login-form {
    button {
        width: 100%;
    }
    // width: 50%;
    margin: auto;
    padding: 2rem;
}

