// Light
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(http://cdn.jsdelivr.net/gh/floriankarsten/space-grotesk@1.1.6/fonts/webfont/SpaceGrotesk-Light.woff2) format('woff2');
}

// Regular
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(http://cdn.jsdelivr.net/gh/floriankarsten/space-grotesk@1.1.6/fonts/webfont/SpaceGrotesk-Regular.woff2) format('woff2');
}

// Bold
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(http://cdn.jsdelivr.net/gh/floriankarsten/space-grotesk@1.1.6/fonts/webfont/SpaceGrotesk-Bold.woff2) format('woff2');
}

@import "_vars.scss";

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.8rem;
    line-height: 1.7;
}

.btn {
    @extend button;
    background-color: $yellow;
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-login {
    background: linear-gradient(145deg, $azul 0%, $azul-claro 100%);
    height: 100vh;
}

.bg-signup {
    background: linear-gradient(145deg, $morado 0%, $morado-darker 100%);
    height: 100vh;
}

.login-form-container {
    width: 50%;
    background-color: #fff;
    // padding: 5rem 2rem;
    border: 2px solid $morado;
    border-radius: 2rem;
    @media (max-width: 870px) {
        width: 90%;
    }
}

.login-form {
    button {
        width: 100%;
    }
    // width: 50%;
    margin: auto;
    padding: 2rem;
}

.dashboard {
    display: flex;
}

.container-dash {
    width: 95%;
    margin: 1rem auto;
}

.dash-aside {
    display: flex;
    flex-direction: column;
}

.logo {
    background-color: #fff;
    height: 10vh;
    img {
        height: 9vh;
        margin: auto;
        padding: 1rem;
    }
    border-bottom: 1px solid #f7f7fa;
}

.actual {
    background-color: transparentize($color: $morado, $amount: 0.8);
    border-left: 4px solid $morado;

    color: $azul;
}

.aside-links {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    a {
        color: #5c616c;
        i {
            padding-right: 1.5rem;
        }
    }
}

.link-aside {
    padding: 2rem;
    color: #5c616c;
}


.dash-content {
    background-color: #f7f7fa;
    width: 100%;
    min-height: 100vh;
}

.dash-header {
    height: 10vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    * {
        margin: 0;
    }
    h2 {
        margin: auto 2rem;
    }
    a {
        font-size: 4rem;
        color: $dark-purple;
        margin: auto 3rem;
    }
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin: 1rem auto;
}
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    margin: 2rem auto;
}

// Widget
.widget {
    background-color: #fff;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.text-widget {
    h5 {
        font-weight: 700;
    }
    p {
        font-size: 3.5rem;
        margin: 0;
    }
}

.icon-widget {
    i {
        font-size: 7rem;
        text-align: center;
        margin: auto auto;
        height: 99%;
        color: $morado;
    }
}

.disk-dash-chart{ 
    label {
        display: block;
        color: $morado;
        &:last-of-type {
            color: $azul;
        }

    }
}
// File list

.file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 1rem;
    margin: 2rem auto;
}

.label-file {
    display: flex;
    justify-content: space-around;
    align-items: center;
    i {
        color: $morado;
        font-size: 2.5rem;
        margin: auto 1.2rem;
    }
}
.actions-file {
    display: flex;
    justify-content: space-around;
    i {
        padding: 1rem;
        margin: auto 0.4rem;
        border-radius: 1rem;
    }
}
.view-icon {
    color: $azul;
    border: 2px solid $azul;
    border-color: $azul;
}

.download-icon {
    color: $morado-darker;
    border-color: $morado-darker;
    border: 2px solid $morado-darker;
}
.delete-icon {
    color: $pink;
    border-color: $pink;
    border: 2px solid $pink;
}

.upload-box {
    border: 2px solid $dark-purple;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
        height: 40vh;
    }
}

.testt {
    content: 'Hola';
    display: block;
}
